
<div class="datatable-main">
    <div class="datatable-body">
        <div class="table-wrapper" >
            <table>
                <thead>
                    <tr>
                        <th>
                            aaaaaa
                        </th>
                        <th>
                            aaaaaa
                        </th>
                        <th>
                            aaaaaa
                        </th>
                        <th>
                            aaaaaa
                        </th>
                        <th>
                            aaaaaa
                        </th>
                        <th>
                            aaaaaa
                        </th>
                        <th>
                            aaaaaa
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                    </tr>
                    <tr>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                    </tr>
                    <tr>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                    </tr>
                    <tr>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                        <td>value</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        
    </div>
</div>
