
<div class="stateaccordion-main">
    <table cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th class="stateaccordion-checkbox">
                    <input-checkbox
                        (onchange)="checked.emit(state)"
                        [checked]="state.checked">
                    </input-checkbox>
                </th>
                <th class="stateaccordion-rowheader">
                    <span>{{state.label}}</span>
                </th>
                <th class="stateaccordion-expand">
                    <span 
                        class="stateaccordion-expand-icon material-icons" 
                        (click)="expanded.emit(state)">
                            {{state.expanded ? 'expand_less': 'expand_more'}}
                    </span>
                </th>  
            </tr>
        </thead>
        
        <tbody>
            <tr class="stateaccordion-sub-row" [ngClass]="{'stateaccordion-expanding': expand || state.expanded, 'stateaccordion-minimizing': minimize}" *ngFor="let city of state.cities">
                <td></td>
                <td>
                    <span>
                        <strong>{{city.label}}</strong>
                    </span>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>


<!-- <span 
class="stateaccordion-expand-icon material-icons" 
(click)="state.expanded ? minimizeTbody() : expandTbody()">
    {{state.expanded ? 'expand_less': 'expand_more'}}
</span> -->