
.stateaccordion-main {
    display: block;
    border-bottom: 2px solid #FFFFFF;

    .stateaccordion-checkbox {
        min-width: 45px;
        padding-top: 7px;
        border-left: 2px solid #FFFFFF;
        border-right: 2px solid #FFFFFF; 
    }

    .stateaccordion-rowheader {
        width: 100%;
        padding: 0px 20px;
    }

    .stateaccordion-expand {
        min-width: 45px;
        border-right: 1px solid #FFFFFF;
    }

    .stateaccordion-expand-icon {
        font-size: 30px;
        padding: 0px !important;
        cursor: pointer;
    }

    .stateaccordion-sub-row {
        td {
            position: relative;
            overflow: hidden;
        }
    
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    table {
        width: 100%;

        span {
            display: block;
            width: 100%;
            padding: 0px 10px;
        }
    }

    thead {
        width: 100%;
        background: #EEEEEE;

        tr {
            height: 56px;
        }
    }

    tbody {
        tr {
            max-height: 40px;

            &:nth-child(odd) {
                background: #FFFFFF;
            }
    
            &:nth-child(even) {
                background: #F5F5F5;
            }
        }
    }

    td, th {
        text-align: center;
        border-style: none;
        white-space: nowrap;
    }
}


.stateaccordion-expanding {
    animation: expand 1s ease;
    animation-fill-mode: forwards;
}

.stateaccordion-minimizing {
    animation: minimize 1s ease;
}

@keyframes expand {
	from { height: 0px; }
	to { height: 40px; }
}

@keyframes minimize {
	from { height: 40px; }
	to { height: 0px; }
}
