
<div class="stateaccordion-main">
    <table cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th class="stateaccordion-checkbox">
                    <input-checkbox></input-checkbox>
                </th>
                <th class="stateaccordion-rowheader">
                    <span>{{state.label}}</span>
                </th>
                <th class="stateaccordion-expand">
                    <span 
                        class="stateaccordion-expand-icon material-icons" 
                        (click)="state.expanded=!state.expanded">
                            {{state.expanded ? 'expand_less': 'expand_more'}}
                    </span>
                </th>  
            </tr>
        </thead>
        <tbody *ngIf="state.expanded">
            <tr *ngFor="let city of state.cities">
                <td></td>
                <td>
                    <span>
                        <strong>{{city.label}}</strong>
                    </span>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>