
.generalheader-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    font-weight: 700;

    .generalheader-mark {
        display: block;
        min-width: 45px;
    }

    .generalheader-states-label{
        display: block;
        width: 100%;
    }

    .generalheader-expand {
        display: block;
        min-width: 45px;
    }
}