
<div class="resourceslist-main">
    <div class="resourceslist-resources">
        <div class="resourceslist-resource" *ngFor="let resource of resources">
            <resource 
                [resource]="resource"
                [selected]="isResourceExists(resource.id)" 
                (onclick)="isResourceExists($event.id) ? unSelectResource($event) : selectResource($event);
                           onchange.emit(selectedResources)">
            </resource>
        </div>
    </div>
</div>