
<div class="resourceaccordion-main">
    <table cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>
                    <span>
                        {{resource.data[dataIndex].total}}
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="resourceaccordion-sub-row" *ngFor="let value of resource.data[dataIndex].values" [ngClass]="{'resourceaccordion-expanding': expand, 'resourceaccordion-minimizing': minimize}">
                <td>
                    <span>
                        {{value}}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
