
.resourceaccordion-main {
    display: block;
    width: 100%;
    border-bottom: 2px solid #FFFFFF;

    .resourceaccordion-sub-row {
        td {
            position: relative;
            overflow: hidden;
        }
    
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    table {
        width: 100%;

        span {
            display: block;
            width: 100%;
            padding: 0px 10px;
        }
    }

    thead {
        width: 100%;

        tr {
            height: 56px;
        }

        th {
            border-left: 1px solid #FFFFFF;
            border-right: 1px solid #FFFFFF;
        }
    }

    tbody {
        font-weight: 300;

        tr {
            max-height: 40px;

            &:nth-child(odd) {
                background: #FFFFFF;
            }
    
            &:nth-child(even) {
                background: #F5F5F5;
            }
        }
    }

    td, th {
        text-align: center;
        border-style: none;
        white-space: nowrap;
    }
}

.resourceaccordion-expanding {
    animation: expand 1s ease;
    animation-fill-mode: forwards;
}

.resourceaccordion-minimizing {
    animation: minimize 1s ease;
}

@keyframes expand {
	from { height: 0px; }
	to { height: 40px; }
}

@keyframes minimize {
	from { height: 40px; }
	to { height: 0px; }
}
