
<div class="resourcestable-main">
    <div class="resourcestable-body">
        <div class="resourcestable-table-rowheaders">
            <table cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>
                            <general-header></general-header>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let state of states | paginate: { itemsPerPage: itemsPerPage, currentPage: pageNumber }">
                        <state-accordion #stateAccRef
                             [state]="state"
                             (checked)="handleChecked($event)"
                             (expanded)="handleExpanded($event, stateAccRef)">
                        </state-accordion>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="resourcestable-table-content" isOverflow>
            <table cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th *ngFor="let resource of resources">
                            <span>{{resource.label}}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i=index; let state of states | paginate: { itemsPerPage: itemsPerPage, currentPage: pageNumber }">
                        <th *ngFor="let resource of resources">
                            <resource-accordion 
                                [resource]="resource" 
                                [dataIndex]="getIndexByPageNumber(i)"
                                [expanded]="state.expanded">
                            </resource-accordion>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="resourcestable-pagination">
        <pagination-controls (pageChange)="pageNumber=$event"></pagination-controls>
    </div>
</div>
