
.resourcestable-main {
    display: block;
    width: 100%;
    border-radius: 15px;
    font-size: 12px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);

    .resourcestable-body {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        min-height: 200px
    }

    .resourcestable-table-content {
        display: block;
        width: 100%;
    }

    table {
        width: 100%;

        span {
            display: block;
            width: 100%;
            padding: 0px 10px;
        }
    }

    thead {
        width: 100%;
        background: #EEEEEE;

        tr {            
            th {
                border-bottom: 2px solid #FFFFFF;
                border-left: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
            }
        }
    }

    tbody {
        tr {
            &:nth-child(odd) {
                background: #FFFFFF;
            }
    
            &:nth-child(even) {
                background: #F5F5F5;
            }
        }
    }

    tr {
        height: 56px;
    }

    td, th {
        text-align: center;
        border-style: none;
        white-space: nowrap;
        min-width: 150px; // to enable overflowing...
    }
}