/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: heeboRegular;
    src: url('./assets/fonts/heeboRegular.ttf');
}


body {
    font-family: heeboRegular;
    background: #70D6D8;
}