
<div class="home-main">
    <div class="home-body">
        
        <div class="home-container">
            <resources-list
                [selectedResources]="selectedResources" 
                [resources]="resources" 
                (onchange)="selectedResources=$event">
            </resources-list>
        </div>

        <div class="home-container">
            <resources-table
                [states]="states"
                [resources]="selectedResources"
                (checked)="handleChecked($event)"
                (expanded)="handleExpanded($event)">
            </resources-table>
        </div>

    </div>
</div>


<!-- 
    <adult-jaw
        [dataSource]="jaw"
        (onChange)="handleChange($event)"
        (alert)="showAlert($event)">
    </adult-jaw>
-->